<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Taking App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/output.css">
</head>

<body class="bg-gray-900 text-gray-200">
    <div class="min-h-screen flex flex-col justify-start items-center p-10">
        <h1 class="text-3xl font-bold mb-12 text-slate-200">Note Taking App</h1>

        <!-- Display different content based on user authentication status -->
        <% if (user) { %>
            <div class="mb-8 text-lg text-center">
                <h1 class="text-2xl font-bold mb-2 text-blue-500">Welcome, <%= user.name %>!</h1>
                <h2 class="text-xl font-semibold mb-2 text-green-500"><%= user.username %></h2>
                <h3 class="text-xl font-medium text-gray-500"><%= user.email %></h3>
            </div>            
            <form action="/logout" method="POST">
                <button type="submit" class="bg-red-500 hover:bg-red-600 px-4 py-2 rounded-md text-white font-semibold">Logout</button>
            </form>
            
                <!-- Plus icon button -->
        <button id="toggleFormBtn" class="fixed bottom-8 right-8 bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-full text-white font-semibold flex justify-center items-center">
            <i class="ri-add-line text-xl"></i>
        </button>

        <!-- Form -->
        <form id="noteForm" action="/create-note" method="POST" class="w-full max-w-lg hidden">
            <div class="mb-6">
                <label for="title" class="block mb-2">Title:</label>
                <input type="text" id="title" name="title" placeholder="Enter title"
                    class="w-full px-3 py-2 bg-gray-800 rounded-md focus:outline-none focus:ring focus:ring-blue-500 text-gray-200" required>
            </div>
            <div class="mb-6">
                <label for="content" class="block mb-2">Content:</label>
                <textarea id="content" name="content" placeholder="Enter your note content"
                    class="w-full px-3 py-2 bg-gray-800 rounded-md focus:outline-none focus:ring focus:ring-blue-500 text-gray-200 resize-none h-40" required></textarea>
            </div>
            <button type="submit"
                class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md text-white font-semibold">Create Note</button>
        </form>

        <h2 class="text-2xl font-bold my-8">Your Notes</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full max-w-4xl">
            <% if(notes) { %>
                <% notes.forEach(note => { %>
                    <!-- Note Card -->
                    <div class="bg-gray-800 rounded-lg p-4">
                        <a href="/note/<%= note._id %>" class="text-blue-500 hover:underline font-semibold truncate"><%= note.title %></a>
                        <p class="text-gray-300 mt-2 line-clamp-2"><%= note.content %></p>
                        <div class="mt-4 flex justify-between items-center">
                            <a href="/edit-note/<%= note._id %>" class="bg-green-500 hover:bg-green-600 px-2 py-1 rounded-md text-white font-semibold"><i class="ri-edit-line"></i></a>
                            <form action="/delete-note" method="POST">
                                <input type="hidden" name="noteId" value="<%= note._id %>">
                                <button type="submit" class="bg-red-500 hover:bg-red-600 px-2 py-1 rounded-md text-white font-semibold"><i class="ri-delete-bin-line"></i></button>
                            </form>                        
                        </div>
                    </div>                    
                <% }); %>
            <% } else { %>
                <h2 class="text-2xl font-bold my-8">You have no notes</h2>
            <% } %>
        </div>
        <% } else { %>
            <div class="flex flex-row w-full max-w-lg justify-between items-center">
                <a href="/signup" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md text-white font-semibold">Sign Up</a>
                <a href="/signin" class="bg-green-500 hover:bg-green-600 px-4 py-2 rounded-md text-white font-semibold">Sign In</a>
            </div>
        <% } %>
    </div>

    <!-- Link to JavaScript file -->
    <script src="/script/index.js"></script>
</body>

</html>
